* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px 50px;
}

.letDo {
  font-size: 34px;
  font-weight: 500;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}

.output {
  line-height: 1.5;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #57606a;
  padding: 40px;
  width: 100%;
  text-align: right;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row:last-of-type {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.btn {
  font-size: 30px;
  padding: 24px;
}

.row .btn:last-child {
  background-color: #f5913e;
}
